* {
    margin: 0;
    padding: 0;
    font-family:
        /*英文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    ;
    line-height: 1.5;
}

.outer {
    display: flex;
    flex-wrap: wrap;
}

.wrap {
    margin: 20px;
    width: 700px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #f0f0f0;
}

.cardbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #d0d0d0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 10px 30px;
}

.date {
    font-size: 24px;
    padding-top: 10px;

}

.time {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;


}

.img {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    object-fit: cover;
    /* 原圖等比例縮放 */

}

.desc {
    font-size: 16px;
    margin: 10px;
}

.chance {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

}